<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>SKeepy</h2>
            <p>
                Professional Level Score Keeping Platform for Everyone.
            </p>
        </header>
        <span class="image"><img src="~/images/SkeepyLogo_wBackground.jpg" alt="SKeepy - Professional Score Keeper for Everyone" /></span>
    </div>
    <a href="#about" class="goto-next scrolly">Next</a>
</section>

<!-- About -->
<section id="about" class="spotlight style1 bottom">
    <span class="image fit main"><img src="~/images/walls/Wimbledon.jpg" alt="" /></span>
    @Html.Partial("About")
    <a href="#features" class="goto-next scrolly">Next</a>
</section>

<!-- Features -->
<section id="features" class="spotlight style2 right">
    <span class="image fit main"><img src="~/images/walls/Roger-Federer.-AUstralian-Open-2013..jpg" alt="" /></span>
    @Html.Partial("Features")
    <a href="#features-next" class="goto-next scrolly">Next</a>
</section>

<!-- Features Next -->
<section id="features-next" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="~/images/walls/federer_superman3.jpg" alt="" /></span>
    @Html.Partial("MoreFeatures")
    <a href="#modules" class="goto-next scrolly">Next</a>
</section>

<!-- Modules -->
<section id="modules" class="wrapper style1 special fade-up">
    @Html.Partial("Modules")
</section>

<!-- Funding -->
<section id="funding" class="wrapper style2 special fade">
    @Html.Partial("Funding")
</section>

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="http://igg.me/at/skeepy" class="icon alt fa-money"><span class="label">Indiegogo</span></a></li>
        <li><a href="https://facebook.com/skeepyapp" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://twitter.com/skeepyapp" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.google.com/+SkeepyRoApp" class="icon alt fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="https://www.youtube.com/c/SkeepyRoApp" class="icon alt fa-youtube"><span class="label">YouTube</span></a></li>
        <li><a href="mailto:hintea_dan@yahoo.co.uk?subject=Inquiry about SKeepy" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Hintea Dan Alexandru. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
    </ul>
</footer>